@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

h2{
	page-break-after: always;
}

section[epub|type~="chapter"]{
	page-break-after: always;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
